@model FitRoutineApp.Web.Models.Usuario

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-image: url('/images/background2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .card {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">
                <div class="card bg-info text-white">
                    <div class="card-header d-flex justify-content-center">
                        <img src="/images/FitRoutine.png" style="width: 150px; height: auto;" />
                    </div>
                    <div class="card-body">
                        <form asp-controller="Login" asp-action="IniciarSesion" method="post">
                            <input class="form-control mb-3" type="email" placeholder="Correo Electrónico" asp-for="Email" required />
                            <input class="form-control mb-3" type="password" placeholder="Contraseña" asp-for="Contraseña" required />
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")" class="text-primary"> ¡Regístrate!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
