
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="deleteDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteDialogLabel">Eliminar Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-ban"></i> No
                </button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">
                    <i class="fa fa-check-circle"></i> Sí
                </button>
            </div>
        </div>
    </div>
</div>
